.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.content {
 
  height:100vh;
  width:100vw;
}
h1 {
  font-size: 40px;
  color: white;
  font-weight: bold;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  background-color:rgb(87, 43, 7);
  z-index:4;
  padding: 40px;
  font-family: 'Lobster', cursive;
}
header img{
  height: 8vh;
  width: 5vw;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100vw;
  margin-top:3%;
}
@media only screen and (max-width : 600px) {
  header{
    justify-content: center;
    height: 5vh;
  }
  header img{
    width: 10vw;
  }
}
@media only screen and (max-width : 400px) {
  header{
    justify-content: center;
  }
  header img{
    width: 10vw;
  }
}