.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.content {
  background-color:#E2E2E2;
 height:auto;
  width:100vw;
}
h1 {
  font-size: 35px;
  color: white;
  font-weight: bold;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 6vh;
  background-color:#05055a;
  z-index:4;
  padding: 40px;
  font-family: 'Lobster', cursive;
  padding-left: 100px;
  padding-right: 100px;
}
header img{
  height: 5vh;
  width: 3vw;
  position:fixed;
  left:150px;
}
header h1{
  position:fixed;
  left:190px;
  top:17px;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height:auto;
  width:100vw;
  margin-top:3%;
padding:0px 0px 20px;
}

@media only screen and (max-width : 600px) {
  header{
    justify-content: center;
    height: 5vh;
  }
  header img{
    width: 10vw;
    left: 8px;
  }
  header h1{
    left:47px;
  }
  .main-content{
    padding:0 0 20px 0;
    height:auto;
  }
}
@media only screen and (max-width : 400px) {
  header{
    justify-content: center;
  }
  header img{
    width: 10vw;
  }
}