
.home-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width:100vw;
    margin-top: 35%;
}  
h2 {
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
h4 {
    font-weight:bold;
    font-family: 'Lobster', cursive;
}
.meal-nav {
   height: 55vh;
   width: 70vw;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
  
}
.meal-nav img {
    height: 50vh;
    width: 50vw;
    box-shadow: 10px 10px 5px grey;
}
.meal-nav-description {
    height: 30vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 2px white;
    position: relative;
    top: 300px;
    left: 1%;
    border-radius: 10px;
    /* background-color: rgba(152, 199, 76, 0.979); */
    background-color: white;
    padding:10px;
    
}

.dropdown-content {
    position: fixed;
    background-color: rgba(152, 199, 76, 0.979);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top:80px;
    right:0px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 15vw;
  }
  .account-icon {
    height: 7vh;
    width: 4vw;
    position: fixed;
    top: 10px;
    z-index: 5;
    right: 50px;
    background-color:white;
    border-radius:50%;
  }
  .account-icon img {
    height: 7vh;
    width: 4vw; 
    position: relative;
    top: -2px;
    left:-8px;
  }
  @media only screen and (max-width : 1100px) {
    .home-content{
        margin-top: 55%;
    }
}
  @media only screen and (max-width : 900px) {
    .home-content{
        margin-top: 60%;
    }
    .meal-nav {
        height: 50vh;
        width: 90vw;
    }
    .meal-nav img {
        height: 45vh;
        width: 90vw;
    }
  }
  @media only screen and (max-width : 600px) {
    .home-content{
        margin-top: 80%;
    }
    .meal-nav {
        height: 50vh;
        width: 90vw;
    }
    .meal-nav img {
        height: 45vh;
        width: 90vw;
    }
    .meal-nav-description {
        top: 250px;
        left: 0;
        width: 60vw;
    }
  }
  @media only screen and (max-width : 400px) {
    .home-content{
        margin-top: 110%;
    }
  }