.customize-meal-content{
    /* margin-top:10%; */
    height:760vh;
   width: 100vw;
   background-color:rgba(238, 180, 73, 0.19);
   display:flex;
   justify-content: center;
   align-items: center;
}
.similar-rec{
   /* display:flex;
   flex-direction: row;
   flex-wrap:wrap;
   /* height:380vh;  */
   font-family: Helvetica;
   width:80vw; 
   display: flex;
   flex-wrap:wrap;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   padding:10px;
   
}
.header-custom-meal-detail h2{
  font-weight:bold;
  color:rgba(156, 71, 15, 0.795);
}
.similar-rec-wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  width:80vw;
  margin-top: -4%;
}
.customize-wrapper{
  display:flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   width: 80vw;
   border: solid 4px rgba(133, 49, 7, 0.466);
   margin-top:188%;
   height:390vh;
   background-color:white;
}
.similar-meal-content{
  /* height: 40vh;
  width: 20vw; */
  height: 35vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  /* border: solid 2px rgb(151, 145, 145); */
  justify-content: center;
  align-items: center;
  border-radius:10px;
  padding:10px;
  margin-top:2%;
  box-shadow: 2px 2px 2px 2px #aaaaaa;
  background-color:rgba(149, 221, 16, 0.89);
}
/* .similar-meal-content img{
    height: 20vh;
  width: 18vw;
  padding:20px;
  box-shadow: 10px 10px 10px 10px #aaaaaa;
} */
.similar-meal-description{
    /* height:10vh;
    line-height:1;
    padding:20px; */
    display: flex;
    flex-direction: column;
    width: 15vw;
    /* position: relative;
    left: 20px; */
   line-height:1;
   margin-top:5%;
}


@media only screen and (max-width : 600px) {
  .customize-wrapper{
    width:90vw;
    height:1205vh;
margin-top:2103%;
  }
  .similar-rec{
    width:90vw;
  }
  .similar-meal-content{
    width:85vw;
    margin-top:5%;
  }
.meal-img{
  height:25vh;
  width:80vw;
  padding:5px;
}
.similar-meal-description{
  width:65vw;
}
.remove img{
  height:5vh;
  width:7vw;
}
.similar-rec-wrapper{
  margin-top:-205%;
}
.header-custom-meal-detail{
  margin-top:-98%;
}
/* .meal-dis-list{
  flex-direction: column ;
} */
}
