/* .avatars{
   
} */
.avatars img{
    height:8vh;
    width:5vw;
}
.avatar-fields{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
}
.avatar-fields div{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    width: 10vw;
}
.avatar-fields div label input{
    width: 8vw;
    position:absolute;
    bottom:150px;
}
