.workout-plan-content{
    height:150vh;
    width:100vw;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(238, 180, 73, 0.19);
}
.home-icon{
    height: 7vh;
    width: 4vw;
    /* position: fixed;
    top: 10px;
    z-index: 5;
    right: 300px;
     */
}
.workout-plan{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width:80vw;
    /* box-shadow: 10px 10px 10px 10px #aaaaaa; */
    border: solid 4px rgba(133, 49, 7, 0.466);
   background-color:white;
   margin-top: 10%;
}
.loading{
    height: 10vh;
    width: 8vw;
}
.workout-video-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:88vw;
    height: 85vh;
    
}
.workout-video-section{
    width: 30vw;
    padding:2px;
}
.workout-video-description{
    width:20vw;
}
.workout-video-disp {
    width: 50vw;
    height: 87vh;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2px;
}
.working-video {
    width: 40vw;
    height: 87vh;
    padding: 5px 30px;
}
.video-play {
    height:65vh;
    width: 48vw;
   
}
.video-play iframe{
    height:65vh;
    width: 48vw;
}
.video-desc{
    height:20vh;
    width: 48vw; 
    padding:5px;
}
.header-video{
    font-weight: bold; 
}
.loading-content {
    font-size: 25px;
    /* font-family: 'Baloo', cursive; */
    font-family: 'Lobster', cursive;
}
.working-video img{
    width:20vw;
}
.user-options{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 48vw;
}
.work-fields{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width:30vw;
}
.work-fields input{
    width:2vw;  
}

@media only screen and (max-width : 900px) {
    .home-icon{
        width:7vw;
    }
    .workout-plan-content{
        margin-top:15%;
    }
    .workout-video-content{
        flex-direction: column;
    }
    .workout-video-section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 80vh;
        width:60vw;
        /* margin-top:5%; */
    }
    .working-video {
        width: 90vw;
        height:74vh;
    }
    .workout-video-disp {
        height: 50vh;
        /* width:100vw; */
    }
    .video-play {
        height:45vh;
        width: 80vw;
       
    }
    .video-play iframe{
        height:38vh;
        width: 90vw;
        position:relative;
        top:97px;
        right: 27px;
    }
    .working-video {
        width: 50vw;
        
    }
    .working-video img{
        width: 50vw;
        
    }
    /* .workout-video{
        height:10vh;
        width:30vw;
        padding:5px;
    }
    .workout-video img{
        height:15vh;
        width:30vw;
    } */
    .video-desc{
        height:20vh;
        width: 90vw; 
        margin-top:6%;
        position:relative;
        right: 30px;
        padding:2px;
    }
    h4{
        font-size:14px;
    }
    p{
        font-size:11px;
    }
    .user-options{
        width:80vw;
    }
  


}
@media only screen and (max-width : 600px) {
  
    .workout-plan-content{
        margin-top:15%;
        overflow:hidden;
        height: 300vh;
        margin-top:228%;
    }
    /* .workout-video-content{
        flex-direction: column;
    } */
    .workout-plan{
        width:90vw;
        margin-top:13%;
        height:200vh;
    }
    .workout-video-section{
        /* display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 80vh;
        width:60vw; */
        margin-top:1%;
        flex-direction:column;
        height:115vh;
    }
    .working-video {
        width: 90vw;
        
    }
    .working-video img{
        width: 60vw;
        
    }
    .workout-video-content{
        margin-top:224%;
    }
    /* .working-video {
        width: 98vw;
        height:74vh;
    }
    /* .workout-video-disp {
        height: 50vh;
        width:100vw;
    } */
    /* .video-play {
        height:45vh;
        width: 80vw;
       
    } */ 
    /* .video-play iframe{
        height:38vh;
        width: 90vw;
        position:relative;
        top:97px;
        right: 35px;
    } */
    /* .workout-video{
        height:20vh;
        width:35vw;
        padding:2px;
    } */
    /* .workout-video img{
        height:15vh;
        width:30vw;
    } */
    .workout-video-disp {
        margin-top:-200%;
    }
    .video-play iframe{
        width:89vw;
    }
    .video-desc{
       
        margin-top:10%;
       
    }
    h4{
        font-size:14px;
    }
    p{
        font-size:11px;
    }
    .home-icon{
       width:10vw;
        right: 60px;
        
    }
    .workout-video-description{
        width:60vw;
    }
}
@media only screen and (max-width : 400px) {
    .workout-plan-content{
        margin-top:18%;
        overflow:hidden;
    }
    .workout-video-section{
        margin-top:-5%;
    }
    .video-desc{
        margin-top:15%;
        width:85vw;
        padding:5px;
    }
    .video-play iframe{
    right: 25px;
    }
}