.workout-plan-content{
    height:100vh;
    width:100vw;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-icon{
    height: 7vh;
    width: 4vw;
    position: fixed;
    top: 10px;
    z-index: 5;
    right: 110px;
    
}
.workout-plan{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    width:90vw;
    /* box-shadow: 10px 10px 10px 10px #aaaaaa; */
}
.loading{
    height: 10vh;
    width: 8vw;
}
.workout-video-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:88vw;
    height: 85vh;
    
}
.workout-video-section{
    width: 20vw;
    padding:20px;
}
.workout-video-disp {
    width: 60vw;
    height: 80vh;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}
.working-video {
    width: 60vw;
    height: 80vh;
    padding: 5px 30px;
}
.video-play {
    height:65vh;
    width: 56vw;
   
}
.video-play iframe{
    height:65vh;
    width: 56vw;
}
.video-desc{
    height:20vh;
    width: 56vw; 
}
.header-video{
    font-weight: bold; 
}
.loading-content {
    font-size: 25px;
    /* font-family: 'Baloo', cursive; */
    font-family: 'Lobster', cursive;
}
.working-video img{
    width:20vw;
}
.user-options{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
}
/* .work-fields{
display: flex;
flex-direction: row;
/* justify-content: center;
align-items: center; */


@media only screen and (max-width : 900px) {
    .home-icon{
        width:7vw;
    }
    .workout-plan-content{
        margin-top:10%;
    }
    .workout-video-content{
        flex-direction: column;
    }
    .workout-video-section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 80vh;
        width:60vw;
        /* margin-top:5%; */
    }
    .working-video {
        width: 90vw;
        height:74vh;
    }
    .workout-video-disp {
        height: 50vh;
        /* width:100vw; */
    }
    .video-play {
        height:45vh;
        width: 80vw;
       
    }
    .video-play iframe{
        height:38vh;
        width: 90vw;
        position:relative;
        top:97px;
        right: 35px;
    }
    .workout-video{
        height:10vh;
        width:30vw;
        padding:5px;
    }
    .workout-video img{
        height:15vh;
        width:30vw;
    }
    .video-desc{
        height:20vh;
        width: 90vw; 
        margin-top:6%;
        position:relative;
        right: 30px;
        padding:2px;
    }
    h4{
        font-size:14px;
    }
    p{
        font-size:11px;
    }

}
@media only screen and (max-width : 600px) {
  
    .workout-plan-content{
        margin-top:10%;
        overflow:hidden;
    }
    /* .workout-video-content{
        flex-direction: column;
    } */
    .workout-video-section{
        /* display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 80vh;
        width:60vw; */
        margin-top:1%;
    }
    /* .working-video {
        width: 98vw;
        height:74vh;
    }
    .workout-video-disp {
        height: 50vh;
        width:100vw;
    }
    .video-play {
        height:45vh;
        width: 80vw;
       
    } */
    /* .video-play iframe{
        height:38vh;
        width: 90vw;
        position:relative;
        top:97px;
        right: 35px;
    } */
    /* .workout-video{
        height:20vh;
        width:35vw;
        padding:2px;
    } */
    /* .workout-video img{
        height:15vh;
        width:30vw;
    } */
    .video-desc{
       
        margin-top:10%;
       
    }
    h4{
        font-size:14px;
    }
    p{
        font-size:11px;
    }
    .home-icon{
       width:10vw;
        right: 60px;
        
    }
}
@media only screen and (max-width : 400px) {
    .workout-plan-content{
        margin-top:18%;
        overflow:hidden;
    }
    .workout-video-section{
        margin-top:-5%;
    }
    .video-desc{
        margin-top:15%;
        width:85vw;
        padding:5px;
    }
    .video-play iframe{
    right: 25px;
    }
}