.meal-details-purpose-content{
    background-color:rgba(238, 180, 73, 0.19);
    height:420vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center; 
}
.meal-details-content{
    display:flex;
    justify-content: center;
    align-items: center;
   /* height:auto; */
    width:80vw; 
   margin-top:54%;
   border: solid 4px rgba(133, 49, 7, 0.466);
   background-color:white;
}
.meal-sec-purpose{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.meal-sections{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:80vw;
}
.header-meal-detail h2{
    font-weight:bold;
    color:rgba(156, 71, 15, 0.795);
}
/* .meal-image, .meal-title{
    padding:10px;
    height: 30vh;
} */
.meal-title{
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    width: 30vw;
    padding: 10px;
    /* box-shadow: 10px 10px 10px 10px #aaaaaa; */
    /* text-align:left; */
}
.meal-image{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:40vw;
    padding: 10px;
}
.share{
   display:flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
    /* padding: 10px;
    width: 10vw; */
}
.meal-image img{
    height: 29vh;
    width: 27vw;
   /* padding:10px; */
    height: 25vh;
    width: 20vw;
    border-radius:10px;
    /* box-shadow: 10px 10px 10px 10px #aaaaaa; */
}
.meal-section-1{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    background-image: linear-gradient(#ff9d2f, #ff6126);
  /* background: rgba(137, 233, 11, 0.788); */
  width: 79.5vw;
  /* height:56vh; */
}
/* .divider {
    position: absolute;
    bottom: 0;
    left: 135px;
    right: 0;
    top:603px;
    width: 80vw;
    height: 100px;
    /* drop the height to have a constant angle for all screen widths */
  /* }  */
.meal-section-2{
    width: 80vw; 
    -webkit-clip-path:polygon(0 100%,0 0,100% 60px,100% 100%);
    clip-path: polygon(0 100%,0 0,100% 60px,100% 100%);
    margin-top:-60px;
    padding-top:90px;
}
.meal-section-2,.meal-section-3,.meal-section-4{
    display:flex;
    justify-content: center;
    align-items: center; 
    width: 80vw; 
  
}
.meal-details-ingredients,.meal-details-description,.meal-details-nutrition{
    display:flex;
    flex-direction: column; 
   
}
.meal-details-ingredients,.meal-details-description{
   
    width: 80vw;
}
.nutri-container{
    display:flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
}
.ingredient-list{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    /* justify-content: center; */
    /* align-items: center; */
    /* height:50vh;  */
    font-family: Helvetica;
    /* padding:20px;
    padding-left: 100px;
    padding-right: 100px; */
    padding: 30px;
}
.meal-det-nutri{
    /* width:88vw;
    padding:8px;  */
    /* height: 30vh;  */
    display: flex;
    justify-content: flex-start; 
}
.meal-det-nutri table{
    width:20vw;
    border: solid 1px rgba(87, 85, 85, 0.5);
}
.meal-det-nutri table thead tr{
    height: 8vh;
    border-bottom: solid 3px rgba(122, 120, 120, 0.5);
}
.meal-det-nutri table thead tr th{
    width:2vw;
}
.meal-det-nutri table tbody tr{
    padding-left:5px;
    height: 2vh;
    border-bottom: solid 1px rgba(153, 151, 151, 0.5);

}
.meal-det-nutri table tbody tr td{
  padding:2px;
}

.meal-det-desc{
    /* padding: 10px; */
    /* height:40vh; */
    /* padding-left: 100px;
    padding-right: 100px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}
/* .meal-det-desc li{
    width:30vw;
    margin-left:20px;
}
.ingredient-list span{
    padding:10px;
} */
.ingredient-list span img,.meal-title span img{
    height:2vh;
    width:1vw;
    margin-right:10px;
}
.horizontal-line{
    height:7vh;
    width:30vw;
}
.diet-list{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding:2px;
}
.diet-list h5{
    margin-left: 10px;
}
.diet-list h5 img{
    height:3vh;
    width:2vw;
}
.health-score,h3{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:2px;
}
.wine-pairs{
    display:flex;
    justify-content: center;
    align-items:center;
}
.heading-prep{
    
    display: flex;
    color:rgba(182, 13, 13, 0.877);
    align-items: center; 
    
}
.heading-prep h5{
    margin-left: 50px;
}
.heading-prep img{
    height:4vh;
    width:2vw;
    position: absolute;
   left: 500px;
  
}
.heading-prep span{
   position: absolute;
   left: 530px;
   /* bottom:10px; */
   color:rgba(0,0,0,0.5);
}
.heading-prep div{
    position: absolute;
    /* top:15px; */
    left: 592px;
   
 }
 @media only screen and (max-width : 900px) {
    .meal-details-content{
        margin-top:270%;
        overflow-x: hidden;
        height:430vh;
     }
     .meal-sections{
         width:90vw;
     }
     .ingredient-list,.meal-det-desc{
        padding-right:0;
        padding:2px;
        /* padding-left:35px; */
        /* height:50%; */
        align-items: none;
        width:80vw;
        flex-wrap: nowrap;
        height:0%;
    }
  
    .meal-section-2,.meal-section-3,.meal-section-4{
        margin-top:10%;
        width:80vw;
    }
 }
 @media only screen and (max-width : 600px) {
    .meal-details-content{
       margin-top:337%;
       overflow-x: hidden;
       width:90vw;
       height:250vh;
    }
    .meal-section-1{
        flex-direction: column;
        /* height:40vh; */
        padding-left:20px;
        padding-right:0;
        width:90vw;
        align-items: none;
        flex-wrap: nowrap;
        /* overflow-y:scroll ; */
    }
    .meal-plan-sections{
        margin-top:-530%;
        width:90vw;
    }
    .meal-plan-purpose{
        margin-top:839%;
    }
    .meal-description{
        width:48vw;
    }
    .meal-image,.meal-title{
        padding:none;
        width:90vw;
        
    }
    .diet-list{
        padding:0px 15px;
       

    }
    .meal-sec-purpose{
        margin-top:-14%;
    }
    .meal-details-content h5{
        margin-left:0;
        font-size:15px;
    }
    .diet-list h5 img{
        width:3vw;
        height:2vh;
    }
    .meal-section-2,.meal-section-3,.meal-section-4{
        margin-top:24%;
    }
    /* .meal-title{
        height:22vh;
    } */
    .meal-image{
        height:28vh;
    }
    .meal-image p{
        font-size:15px;
    }
    .meal-image img{
        height:15vh;
        width: 50vw;
    } 
   .meal-title h3{
        font-size:20px;
    } 
    .share{
        width:17vw;
    }
    .wine-pairs {
        width:80vw;
  
    }
    .meal-details-content p{
        font-size: 12px;
    }
 
    .ingredient-list,.meal-det-desc{
        padding-right:0;
        padding:2px;
        /* padding-left:46px; */
        /* height:50%; */
        align-items: none;
        flex-wrap: nowrap;
    }
    .meal-details-content span, .meal-details-content li{
        padding:2px;
        font-size:15px;
        line-height: 1.5;
    }
    .ingredient-list span img{
        width:3vw;
        height:2vh;
    }
    .meal-det-desc li{
        width: 80vw;
        font-size:15px;
        line-height: 1.5;
    }
    .meal-det-nutri{
        width:80vw;
    }
    .meal-det-nutri table{
        width:45vw;
    }
    .meal-det-nutri table thead tr{
        height:6vh;
    }
    .meal-det-nutri table thead tr th{
        font-size: 12px;
    }
    .meal-det-nutri table tbody tr td{
        font-size: 12px;
    }
    .heading-prep{
        height:1%;
    }
    .health-score{
        flex-direction: row;
        padding: 0px 5px;
        width:88vw;
    }
    .health-score span{
       
        font-size:12px;
    }
    .health-score span img{
        width:3vw;
        height:2vh;
    }
    .heading-prep img{
       width:4vw;
       height:4vw;
       left: 153px;
      
    }
    .heading-prep span{
      
       left: 170px;
       
    }
    .heading-prep div{
        left: 230px;
    }
 }
 @media only screen and (max-width : 400px){
    .meal-details-content{
        margin-top:361%;
     }
    
 }